@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #07041a;
  color: #e2d9f3;
}

/* Character animations */
.fw {
  animation: cfw 2.5s ease-in-out infinite;
}
.fi {
  animation: cfi 3.8s ease-in-out infinite;
}
.fl {
  animation: cfl 3s ease-in-out infinite;
}
.fs {
  animation: cfs 6s ease-in-out infinite;
}
@keyframes cfw {
  0% {
    transform: translateX(calc(-50% - 7px)) translateY(calc(-100% - 2px));
  }
  25% {
    transform: translateX(calc(-50% - 1px)) translateY(calc(-100% - 7px));
  }
  50% {
    transform: translateX(calc(-50% + 8px)) translateY(calc(-100% - 3px));
  }
  75% {
    transform: translateX(calc(-50% + 2px)) translateY(calc(-100% - 8px));
  }
  100% {
    transform: translateX(calc(-50% - 7px)) translateY(calc(-100% - 2px));
  }
}
@keyframes cfi {
  0%,
  100% {
    transform: translateX(-50%) translateY(-100%) rotate(-1.3deg);
  }
  50% {
    transform: translateX(-50%) translateY(calc(-100% - 5px)) rotate(1.3deg);
  }
}
@keyframes cfl {
  0%,
  100% {
    transform: translateX(-50%) translateY(-100%);
  }
  50% {
    transform: translateX(-50%) translateY(calc(-100% - 13px));
  }
}
@keyframes cfs {
  0%,
  100% {
    transform: translateX(-50%) translateY(-100%) rotate(-2.5deg);
  }
  50% {
    transform: translateX(-50%) translateY(-100%) rotate(2.5deg);
  }
}
